<div class="container">
    <div class="row">
        <div class="col-lg-3 col-centered">
            <form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">
                <div class="form-group">
                    <label class="k-form-field"> Username
                        <input kendoTextBox  formControlName="username" class="form-control" placeholder="username" />
                    </label>
                </div>
                <div class="btn-toolbar">
                    <div class="btn-group">
                    <button kendoButton  type="submit"  >Reset Password</button></div>
                    <button kendoButton  type="button"  (click)="cancel()">Cancel</button>
                </div>
                <p>{{statusMessage}}</p>
            </form>
        </div>


    </div>