; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 25/09/2019.
; begin auth token
//global-id.pkgs.visualstudio.com/_packaging/FCID-NPM-Repository/npm/registry/:username=FCID-NPM-Repository
//global-id.pkgs.visualstudio.com/_packaging/FCID-NPM-Repository/npm/registry/:_password=b2QycHdtYXpuamliNHBycGZjcjQzZXp0dmljenB4ZGRobDQ1Ymt4aTQ0Y25icXNtZ3F3YQ==
//global-id.pkgs.visualstudio.com/_packaging/FCID-NPM-Repository/npm/registry/:email=npm requires email to be set but doesn't use the value
//global-id.pkgs.visualstudio.com/_packaging/FCID-NPM-Repository/npm/:username=FCID-NPM-Repository
//global-id.pkgs.visualstudio.com/_packaging/FCID-NPM-Repository/npm/:_password=b2QycHdtYXpuamliNHBycGZjcjQzZXp0dmljenB4ZGRobDQ1Ymt4aTQ0Y25icXNtZ3F3YQ==
//global-id.pkgs.visualstudio.com/_packaging/FCID-NPM-Repository/npm/:email=npm requires email to be set but doesn't use the value
; end auth token