<div [formGroup]="formGroupValue">
  <div><input kendoTextBox type="password" formControlName="{{field}}" (input)="isSame(field, fieldData)" [style.width]="paswordWidth" />&nbsp;<span
      *ngIf="required" class="red">*</span>
  </div>
  <br>
  <div>
    <input #inputRef kendoTextBox type="password" formControlName="{{fieldData}}" (input)="isSame(field, fieldData)" compare="password"
      [style.width]="paswordWidth" />&nbsp;<span *ngIf="required" class="red">*</span>
  </div>
  <div *ngIf="passMatchError">{{errorMsg}}</div>
</div>