.glyphicons {
    display: inline-block;
    font-family: 'Glyphicons Regular';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
span.glyphicons-ok {
    color: green;
    font-size: 15px;
}
.img {
    text-align: center;
}