.header {
    background-image: url(../../images/Banner_FC.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    height: 115px;
    margin-bottom:40px
  }
  
  .headerSpacer {
    background-image: url(../../../assets/images/BannerSpacer.jpg);
    height: 115px;
    margin-bottom:40px;
    width:100%;
  }